.forum-section {
    display: flex;
    justify-content: center;
    padding: 60px 10%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.forum-post {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    margin-bottom: 30px;
    width: 100%;
    max-width: 1100px;
    background-color: #f6e4c5;
    padding: 40px;
    border-radius: 12px;
    margin: 0 auto;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    background-color: white;

}

.profile-pic {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.post-content {
    flex: 1;
}

.post-header {
  display: flex;
  justify-content: space-between; /* name left, time right */
  align-items: center;
}

.username {
  margin: 0;
  font-size: 1.1rem;
  font-weight: 600;
}

.post-time {
  font-size: 0.85rem;
  color: #777;
}

.comment {
    margin-top: 8px;
    line-height: 1.6;
    color: #444;
    text-align: justify;
}

.post-footer {
  display: flex;
  justify-content: flex-end; /* push to right */
  gap: 10px;
  margin-top: 15px;
}

.post-footer button {
  background: none;
  border: 1px solid #ccc;
  padding: 6px 12px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 0.9rem;
}

.like-btn:hover {
  background-color: #e6f4ea;
}

.dislike-btn:hover {
  background-color: #fdecea;
}

.like-btn.active {
  background-color: #e6f4ea;
  border-color: #34a853;
}

.dislike-btn.active {
  background-color: #fdecea;
  border-color: #ea4335;
}

.card {
    border-radius: 8px;
}
