.navbar {
    margin: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    position: sticky;
    top: 0;
    z-index: 10;
    list-style: none;
    padding: 15px 30px;
    background-color: rgba(255, 255, 255, 0.3);
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 10;
}

.navbar li:first-child {
    margin-right: auto;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: rgba(174, 174, 174, 0.9);
    text-decoration: underline;
}

.navbar li a.active {
    font-weight: bold;
}

.navbar li {
    position: relative;
}

.explore-btn {
    border: 1px solid white;
    padding: 8px 12px;
    border-radius: 4px;
    margin-right: 20px;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(174, 174, 174, 0.9);
    min-width: 180px;
    list-style: none;
    padding: 0;
    margin: 0;
    display: none;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    z-index: 20;
}

.dropdown-menu li a:hover {
    background-color: rgba(174, 174, 174, 0.9);
}

.dropdown:hover .dropdown-menu {
    display: block;
}